# OS
.DS_Store
Thumbs.db

# Local env
.env
.env.*

# Editors/IDE
.vscode/
.idea/
*.iml

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build artifacts
dist/
build/
coverage/
*.zip
*.bak
*.swp
